.App {
  font-family: Arial;
  margin: 10px;
  background-color: #32383e;
  color: white;
  min-height: 90vh;
  padding: 5px;
}
.MuiPaper-root {
  padding: 10px 0px 10px 0px;
  background-color: #ececea !important;
}
.header {
  padding: 15px;
}
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border: solid #4d4d4d 0.5px;
}
.child-container {
  border: solid #bdbdbd 2px;
  min-height: 40vh;
  max-height: 40vh;
  overflow: scroll;
  padding: 20px 0px 20px 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}
.fizz {
  color: blue;
}
.buzz {
  color: green;
}
.none {
  color: black;
}
